.todo-list {
  background: blueviolet;
  color: black;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
}

.todo-list ul li {
  list-style: none;
  text-align: start;
}

.title {
  color: white;
  font-size: 1.5rem;
  text-align: left;
}

.add-todo {
}
